#ignore unneeded proj files
*.code-workspace
*.cpp
*.dat
*.DS_Store
*.exe
*.h
*.out
*.txt
/src/example/Testing

#allow these files in example folder
!/src/example/test.cpp
!/src/example/makefile
!/src/example/correct.out
!/src/example/test.cpp